<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <script src="<%= context.publicpath %>./js/setrem.js"></script>
  <link rel="stylesheet" href="<%= context.publicpath %>./css/normalize.css">
  <link rel="stylesheet" href="<%= context.publicpath %>./css/swiper.min.css">
  <script src="<%= context.publicpath %>./js/swiper.min.js"></script>
  <title>《少女的王座：命運所在之處》事前登錄已開啟！</title>
  <meta name="description" content="日系戀愛劇情手游《少女的王座》正式開啟事前登錄活動！現在開始預約，SSR衣服+30連抽等著你，更有機會抽取iPhone 12 Pro等大禮！">
  <meta name="keywords" content="日系戀愛劇情手游《少女的王座》正式開啟事前登錄活動！現在開始預約，SSR衣服+30連抽等著你，更有機會抽取iPhone 12 Pro等大禮！">
</head>
<body>
  <div id="root"></div>
</body>
</html>