<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="<%= context.publicpath %>./js/setrem.js"></script>
  <link rel="stylesheet" href="<%= context.publicpath %>./css/normalize.css">
  <link rel="stylesheet" href="<%= context.publicpath %>./css/swiper.min.css">
  <script src="<%= context.publicpath %>./js/swiper.min.js"></script>
  <title>家瑜</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>